@model List<DigitalLeader.ViewModels.VacancyViewModel>
@using DigitalLeader.Web.Localization
@{
	ViewBag.Title = Html.Title(Translations.Careers_Title);
	Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="container-fluid company careers">
	<div class="row header clearfix">
		<div>
			<h1>@Translations.Careers_Title</h1>
			<h2>@Translations.Careers_Subtitle</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 vacancies-list">

				@foreach (var vacancy in Model)
				{
					<div class="col-md-6 col-sm-6 vacancy-wrapper">
						<div class="vacancy">
							<h3>@vacancy.Title</h3>
							<p class="description">@vacancy.ShortDescription</p>
							<p class="btn-wrapper"><a href="@Url.Action("Career", "Company", new { id = vacancy.ID })">View vacancy</a></p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
