@model DigitalLeader.ViewModels.VacancyViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Message = "Vacancy";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="container-fluid company vacancy-page">
    <div class="row header clearfix">
        <div>
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="container vacancy-content">
                <div class="row">
                    <div class="col-md-8 col-sm-7 vacancy-description">
                        <div class="col-md-12">
                            <h1>Job description</h1>
                            <p>@Model.ShortDescription</p>
                        </div>
                        <div class="col-md-12">
                            <h1>Responsibilities</h1>
                            <p>@Model.Responsibilities</p>
                        </div>
                        <div class="col-md-12">
                            <h1>Requirements</h1>
                            <p>@Model.Requirments</p>
                        </div>
                        <div class="col-md-12">
                            <h1>Woorking conditions</h1>
                            <p>@Model.WeOffer</p>
                        </div>
                        <div class="col-md-12">
                            <h1>Bonuses</h1>
                            <p>@Model.Bonuses</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-5 vacancy-aside">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Salary</h3>
                                <p>1233</p>
                                <h3>Location</h3>
                                <p>Kyiv</p>
                                <h3>Contact now</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







