@model DigitalLeader.ViewModels.VacancyViewModel
@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div>
	<h4>VacancyViewModel</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ShortDescription)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ShortDescription)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Bonuses)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Bonuses)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Requirments)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Requirments)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Responsibilities)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Responsibilities)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.WeOffer)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WeOffer)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreatedDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreatedDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsPositionOpen)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsPositionOpen)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
	@Html.ActionLink("Back to List", "Index")
</p>
