<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#001e33" />

	<title>@ViewBag.Title</title>

	@Scripts.Render("~/bundles/modernizr")

	@Styles.Render("~/Content/core-css")
	@Styles.Render("~/Content/core-less")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/core-js")

	@Styles.Render("~/Content/chosen")
	@Scripts.Render("~/bundles/chosen")

	@Scripts.Render("~/bundles/bootstrap-datetime")

	@Styles.Render("~/Content/bootstrap-datetimepicker.less")

	<link rel="icon" href="@Url.Content("~/Content/Images/favicon.png")" />

</head>
<body>
	@Html.Partial("_AdminNavigationBar")

	<div class="body-content">
		@RenderBody()
	</div>

	@Html.Partial("_Footer")


	@RenderSection("scripts", required: false)

	<script type="text/javascript">
		$(function () {
			$(".chosen-select").chosen();
			$(".chosen-select").trigger('chosen:updated');
		})
	</script>
</body>
</html>
