@model DigitalLeader.ViewModels.PromoFormViewModel
@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Feel like you need IT consultation? Tell us about your business problem.";

    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="container-fluid contact">
    <div class="row header clearfix">
        <div>
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </div>

    <div class="row">
        <div class="container connect-content">
            <div class="row">
                <div class="col-md-8 col-sm-7 connect-form">
                    <div class="row">
                        <div class="col-md-12 form-title">
                            <h2><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Contact Form</h2>
                        </div>
                    </div>
                    @using (Html.BeginForm("Promo", "Home", FormMethod.Post, new { role = "form", @class = "row" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-12 message">
                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                            @Html.TextAreaFor(m => m.Message)
                        </div>
                        <div class="col-md-6 inputs-left">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "my.email@example.com" })

                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Phone, new { @placeholder = "111 2222 33333" })

                            @Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Company, new { @placeholder = "Company" })
                        </div>
                        <div class="col-md-6 inputs-right">
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First name" })

                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last name" })

                            <input type="submit" id="send" value="SEND" class="btn" />
                        </div>
                    }
                </div>

                <div class="col-md-4 col-sm-5 text-contacts">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Headquarters</h3>
                            <address>Ukraine, Kyiv, 03040, Mykhailo Stelmakh Street, Building 10A</address>
                        </div>
                        <div class="col-md-12">
                            <h3><i class="fa fa-phone" aria-hidden="true"></i>Phone</h3>
                            <address><a href="">+333 5555 4444</a></address>
                        </div>
                        <div class="col-md-12">
                            <h3><i class="fa fa-at" aria-hidden="true"></i>Email</h3>
                            <address><a href="">info@digitalleader.solutions</a></address>
                        </div>
                        <div class="col-md-12 follow-us">
                            <h3><i class="fa fa-comments-o" aria-hidden="true"></i>Follow Us</h3>
                            <p>
                                <a href="#">Facebook</a> 
                                &middot; 
                                <a href="#">LinkedIn</a> 
                                &middot;
                                <a href="#">Twitter</a>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



