@model List<DigitalLeader.ViewModels.ServiceCategoryViewModel>

@using DigitalLeader.Web.Localization

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Leader  - your best digital solutions provider";
}

<div class="homepage container">
	<div class="row presentation">
		<div class="col-md-10 showcase">
            
            <section class="slider">
                <div class="slides">
                    
                    <div class="slide-container active-slide" style="background: #ffd800">
                        <div class="slide-content">
                            <h1>Web apps development</h1>
                            <p >text 1</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: #4cff00">
                        <div class="slide-content">
                            <h1>Web apps development</h1>
                            <p>text 2</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: #00ff90">
                        <div class="slide-content">
                            <h1>Web apps development</h1>
                            <p>text 3</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: #0094ff">
                        <div class="slide-content">
                            <h1>Web apps development</h1>
                            <p>text 4</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: #b200ff">
                        <div class="slide-content">
                            <h1>Web apps development</h1>
                            <p>text 5</p>
                        </div>
                    </div>

                </div>

                
                <button id="upButton" class="slider-control up">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </button>
                
                <button id="downButton" class="slider-control down">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                
                <div id="bullets">
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                </div>
            </section>


			@*<div id="carousel-demo" class="carousel vertical slide" data-ride="carousel" data-interval="1000">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-demo" data-slide-to="1"></li>
					<li data-target="#carousel-demo" data-slide-to="2"></li>
				</ol>

				<!-- Sliding images statring here -->
				<div class="carousel-inner">
					<div class="item active main-slide" style="background: #ffd800">
						<div class="carousel-caption">
							<h1>@Translations.SliderSlide1</h1>
						</div>
					</div>
					<div class="item main-slide" style="background: #ff6a00">
						<div class="carousel-caption">
							<h1>@Translations.SliderSlide2</h1>
						</div>
					</div>
					<div class="item main-slide" style="background: #b6ff00">
						<div class="carousel-caption">
							<h1>@Translations.SliderSlide3</h1>
						</div>
					</div>
				</div>

				<!-- Next / Previous controls here -->
				<a class="up carousel-control" href="#carousel-demo" data-slide="prev">
					<i class="fa fa-angle-up" aria-hidden="true"></i>
				</a>
				<a class="down carousel-control" href="#carousel-demo" data-slide="next">
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</a>
			</div>*@
		</div>

		<div class="col-md-2 service-categories">
			<div class="row">
				@foreach (var category in Model)
				{
					<div class="col-md-12 col-sm-6 service-category @category.CssClass">
						<div class="image"></div>
						<hr />
						<h3>@category.Name</h3>
                        <div id="pointer">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>

						<div class="menu-wrapper">
							<div id="menu" class="container-fluid">
								<div class="row">
									@foreach (var subcategory in category.ServiceSubcategories)
									{
										<div class="col-md-6 subcategory">
											<h2>@subcategory.Name <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
											<ul>
												@foreach (var service in subcategory.Services)
												{
													<li class="col-md-6">
														<a href="#">
															<h3>@service.Title</h3>
															<p>@service.Description</p>
														</a>
													</li>

												}
											</ul>
										</div>
									}
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>
	<div class="row footer">
		<div class="col-md-4 col-sm-4 cta-title">
			<h2>@Translations.MainPegeFormTitle</h2>
		</div>
		@using (Html.BeginForm("Promo", "Home", FormMethod.Post, new { autocomplete = "off" }))
        {
			<div class="col-md-8 col-sm-8 form-wrapper">
				<div class="row">
					<div class="col-md-12">
						<h3 id="form-header">@Translations.MainPageFormQuestion1</h3>
					</div>
				</div>
				<div class="row cta-form">

					<div class="col-md-10 col-sm-10" id="name">
						<input placeholder="@Translations.MainPageFormQuestion1Placeholder" name="FirstName">
					</div>

					<div class="col-md-10 col-sm-10 hidden" id="email">
						<input placeholder="example@gmail.com" name="Email">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
							</div>
						</div>
					</div>

					<div class="col-md-10 col-sm-10 hidden" id="phone">
						<input placeholder="(099)-555-55-55" name="Phone">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
							</div>
						</div>
					</div>

					<div class="col-md-10 col-sm-10 hidden" id="message">
						<textarea id="message-field" placeholder="Describe your problem" name="Message"></textarea>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
							</div>
						</div>
					</div>

					<div class="col-md-2 col-sm-2 button-wrapper">
						<button type="button" id="send-btn" class="next-step"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		}
	</div>
</div>

<script>
    // cta
	$(document).ready(function () {
		$step = 0;

		$("#send-btn").click(function () {
			if ($step == 0) {
				$("#name").addClass("hidden");
				$("#email").removeClass("hidden");
				$("#form-header").text("@Translations.MainPageFormQuestion2");
				$step++;
				return;
			}
			if ($step == 1) {
				$("#email").addClass("hidden");
				$("#phone").removeClass("hidden");
				$("#form-header").text("@Translations.MainPageFormQuestion3");
				$step++;
				return;
			}

			if ($step == 2) {
				$("#phone").addClass("hidden");
				$("#message").removeClass("hidden");
                $("#form-header").text("@Translations.MainPageFormQuestion3");
                $("#message").find("textarea").attr("placeholder", "@Translations.MainPageFormQuestion4Placeholder");

                $("#message-field").animate({ 'height': '200px' }, { duration: 400, easing: "swing" });
                $(".cta-form").animate({ 'padding-bottom': '30px' }, { duration: 400, easing: "swing" });
                $("#cta-title").animate({ 'height': '200px'}, { duration: 400, easing: "swing" });

                $step++;
                $(this).attr("type", "submit");
                $(this).html('<i class="fa fa-paper-plane" aria-hidden="true"></i>');
				$(this).addClass("final-step");


				return false;
			}
		});
	});

</script>

<script>
    // categories
    $(document).ready(function () {
        $(".subcategory").click(function () {
            if ($(this).find('ul').hasClass('show')) {
                $(this).find('ul').removeClass('show');
                $(this).find('i').removeClass('fa-angle-down');
                $(this).find('i').addClass('fa-angle-right');
            } else {
                $(this).find('ul').addClass('show');
                $(this).find('i').removeClass('fa-angle-right');
                $(this).find('i').addClass('fa-angle-down');

            }
        });
    });

</script>