@model List<DigitalLeader.ViewModels.CategoryViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Leader  - your best digital solutions provider";
}

@Styles.Render("~/Content/homepage.less")
@*@Styles.Render("~/Content/service.less")*@


<div class="home service">
	<div class="container">
		<div class="row main">
			<div class="col-md-6 headlines">
				<div class="row">
					<div class="col-md-12 promo-text">
						<h1>Digital solutions for your precious business</h1>
						<p>Everything you need to make your business successful during information technology era</p>
					</div>
					<!-- contacts -->
					@*<div class="col-md-12 contacts">
							<p>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<a href="mailto:office@digitalleader.solutions">office@digitalleader.solutions</a>
							</p>
							<p>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<a href="call:+380961212713">+380961212713</a>
							</p>
							<p class="social-links">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</p>
						</div>*@
				</div>
			</div>
			<div class="col-md-12 services">
				<div class="row">
					@foreach (var category in Model)
					{
						<div class="col-md-4 col-sm-6">
							<div class="item">
								@{
						var srcAction = category.ImageId.HasValue ?
						Url.Action("Show", "File", new { area = "", id = category.ImageId }) : "";
								}
								<img src="@srcAction" alt="@category.Name" />
								<hr />
								<h3>@category.Name</h3>
								<hr />
								@Html.Raw(category.Content)

								@foreach (var service in category.Services)
								{
									<div class="specific-wrapper">
										<a href="@Url.Action("Index", "Service", new { service = service.Title })" class="specific">
											<h5>@service.Title</h5>
											<p>@service.Description</p>
										</a>
									</div>
								}
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>