@model List<DigitalLeader.ViewModels.ServiceCategoryViewModel>

@using DigitalLeader.Web.Localization

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Html.Title(Translations.Home_Title);
}

@Scripts.Render("~/bundles/unobtrusive")

<div class="homepage container">
	<div class="row presentation">
		<div class="col-md-10 showcase">
			@Html.Action("_SliderPartialView", "Home")
		</div>

		<div class="col-md-2 service-categories">
			<div class="row">
				@foreach (var category in Model)
				{
				<div class="col-md-12 col-sm-6 service-category @category.CssClass">
					<div class="image"></div>
					<hr />
					<h3>@category.Name</h3>
					<div id="pointer">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>

					<div class="menu-wrapper">
						<div id="menu" class="container-fluid">
							<div class="row">
								@foreach (var subcategory in category.ServiceSubcategories)
									{
								<div class="col-md-6 subcategory">
									<h2>@subcategory.Name <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									<ul>
										@foreach (var service in subcategory.Services)
												{
											<li class="col-md-6">
												<a href="#">
													<h3>@service.Title</h3>
													<p>@service.SubTitle</p>
												</a>
											</li>
												}
									</ul>
								</div>
									}
							</div>
						</div>
					</div>
				</div>
				}

			</div>
		</div>
	</div>
	<div class="row footer">
		<div class="col-md-4 col-sm-4 cta-title">
			<h2>@Translations.HomepageCTA</h2>
		</div>

		@{
			var ajaxOptions = new AjaxOptions
			{
				Url = Url.Action("ContactRequest", "Contact"),
				OnComplete = "OnComplete",
				OnBegin = "OnBegin"
			};
		}
		@using (Ajax.BeginForm(null, null, ajaxOptions, new { autocomplete = "off" }))
		{
		@Html.AntiForgeryToken()
		<input type="hidden" name="Mode" value="Short" />
		<div class="col-md-8 col-sm-8 form-wrapper">
			<div class="fader">
				<i class="fa fa-refresh fa-spin fa-3x fa-fw text-center"></i>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 id="form-header">@Translations.Homepage_ContactRequest_FirstName</h3>
				</div>
			</div>
			<div class="row cta-form">
				<div class="col-md-10 col-sm-10" id="name">
					<input placeholder="@Translations.Homepage_ContactRequest_Placeholder" id="FirstName" name="FirstName">
				</div>

				<div class="col-md-10 col-sm-10 hidden" id="email">
					<input placeholder="@Translations.Homepage_ContactRequest_Placeholder" id="EmailInput" name="Email">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar"
							 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
						</div>
					</div>
				</div>

				<div class="col-md-10 col-sm-10 hidden" id="phone">
					<input placeholder="@Translations.Homepage_ContactRequest_Placeholder" id="PhoneInput" name="Phone">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						</div>
					</div>
				</div>

				<div class="col-md-10 col-sm-10 hidden" id="message">
					<textarea id="message-field" placeholder="@Translations.Homepage_ContactRequest_Placeholder" name="Message"></textarea>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						</div>
					</div>
				</div>

				<div class="col-md-2 col-sm-2 button-wrapper">
					<button type="button" id="send-btn" class="next-step"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
				function OnBegin() {
					$('.fader').show();
				}

				function OnComplete(data) {
					var redirectToThankYou = data.responseJSON;
					if (redirectToThankYou !== '') window.location = redirectToThankYou;
				}
		</script>
		}
	</div>
</div>

<script>
	function isNullOrWhitespace(input) {
		if (typeof input === 'undefined' || input == null) return true;
		return input.replace(/\s/g, '').length < 1;
	}

    // cta
	$(document).ready(function () {
		$step = 0;

		$("#send-btn").click(function () {
			if ($step == 0) {
				if (isNullOrWhitespace($("#FirstName").val()))
				{
                    $("#FirstName").css('border', '1px solid #c71458');
					return;
				}

				$("#name").addClass("hidden");
				$("#email").removeClass("hidden");
				$("#form-header").text("@Translations.Homepage_ContactRequest_Email");
				$step++;
				return;
			}
			if ($step == 1) {
				if (isNullOrWhitespace($("#EmailInput").val())) {
                    $("#EmailInput").css('border', '1px solid #c71458');
					return;
                }
                var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/
                if (!regex.test($("#EmailInput").val()))
                {
                    $("#EmailInput").css('border', '1px solid #c71458');
                    $("#form-header").text("@Translations.Homepage_ContactRequest_Email2");
                    return;
                }

				$("#email").addClass("hidden");
				$("#phone").removeClass("hidden");
				$("#form-header").text("@Translations.Homepage_ContactRequest_Phone");
				$step++;
				return;
			}

			if ($step == 2) {
				if (isNullOrWhitespace($("#PhoneInput").val())) {
                    $("#PhoneInput").css('border', '1px solid #c71458');
					return;
                }

                var regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
                if (!regex.test($("#PhoneInput").val()))
                {
                    $("#PhoneInput").css('border', '1px solid #c71458');
                    $("#form-header").text("@Translations.Homepage_ContactRequest_Phone2");
                    return;
                }

				$("#phone").addClass("hidden");
				$("#message").removeClass("hidden");
                $("#form-header").text("@Translations.Homepage_ContactRequest_Message");
                $("#message").find("textarea").attr("placeholder", "@Translations.Homepage_ContactRequest_Placeholder");

                $("#message-field").animate({ 'height': '200px' }, { duration: 400, easing: "swing" });
                $(".cta-form").animate({ 'padding-bottom': '30px' }, { duration: 400, easing: "swing" });
                $("#cta-title").animate({ 'height': '200px'}, { duration: 400, easing: "swing" });

                $step++;
                $(this).attr("type", "submit");
                $(this).html('<i class="fa fa-paper-plane" aria-hidden="true"></i>');
				$(this).addClass("final-step");

				return false;
            }

            if ($step == 3) {
                if ($("#message-field").val().length <= 10) {
                    $("#form-header").text("@Translations.Homepage_ContactRequest_Message_Hint");
                    return false;
                }
            }
		});
	});

</script>

<script>
	// categories
	$(document).ready(function () {
		$(".subcategory").click(function () {
			if ($(this).find('ul').hasClass('show')) {
				$(this).find('ul').removeClass('show');
				$(this).find('i').removeClass('fa-angle-down');
				$(this).find('i').addClass('fa-angle-right');
			} else {
				$(this).find('ul').addClass('show');
				$(this).find('i').removeClass('fa-angle-right');
				$(this).find('i').addClass('fa-angle-down');

			}
		});
	});

</script>