@model List<DigitalLeader.ViewModels.ServiceCategoryViewModel>

@using DigitalLeader.Web.Localization

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Leader  - your best digital solutions provider";
}

@Scripts.Render("~/bundles/unobtrusive")

<div class="homepage container">
	<div class="row presentation">
		<div class="col-md-10 showcase">
            
            <section class="slider">
                <div class="slides">
                    
                    <div class="slide-container active-slide" style="background: rgba(62, 173, 254, 0.7)">
                        <div class="slide-content">
                            <h1>Digital solutions for business leadership</h1>
                            <p>upgrade your winning business with the cutting-edge technologies</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: rgba(0, 255, 0, 0.7)">
                        <div class="slide-content">
                            <h1>Enterprise, web and mobile apps development</h1>
                            <p>bring innovation into your market, unlock opportunities, extend communication, 
                                maximaze effectiveness, simplify procedures</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: rgba(234, 255, 0, 0.8)">
                        <div class="slide-content">
                            <h1>Online Marketing</h1>
                            <p>create unforgettable brand, expand your audience, get more prospects and improve customer loyalty</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: rgba(255, 144, 0, 0.7)">
                        <div class="slide-content">
                            <h1>Our Experience to your advantage</h1>
                            <p>no need to learn and be in touch with modern digital world, use our knowledge and experience instead today</p>
                        </div>
                    </div>

                    <div class="slide-container" style="background: rgba(175, 100, 214, 0.8)">
                        <div class="slide-content">
                            <h1>People trust us</h1>
                            <p>we are careful listeners and gentle executors</p>
                        </div>
                    </div>

                </div>

                
                <button id="upButton" class="slider-control up">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </button>
                
                <button id="downButton" class="slider-control down">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                
                <div id="bullets">
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                </div>
            </section>


			@*<div id="carousel-demo" class="carousel vertical slide" data-ride="carousel" data-interval="1000">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-demo" data-slide-to="1"></li>
					<li data-target="#carousel-demo" data-slide-to="2"></li>
				</ol>

				<!-- Sliding images statring here -->
				<div class="carousel-inner">
					<div class="item active main-slide" style="background: #ffd800">
						<div class="carousel-caption">
							<h1>@Translations.SliderSlide1</h1>
						</div>
					</div>
					<div class="item main-slide" style="background: #ff6a00">
						<div class="carousel-caption">
							<h1>@Translations.SliderSlide2</h1>
						</div>
					</div>
					<div class="item main-slide" style="background: #b6ff00">
						<div class="carousel-caption">
							<h1>@Translations.SliderSlide3</h1>
						</div>
					</div>
				</div>

				<!-- Next / Previous controls here -->
				<a class="up carousel-control" href="#carousel-demo" data-slide="prev">
					<i class="fa fa-angle-up" aria-hidden="true"></i>
				</a>
				<a class="down carousel-control" href="#carousel-demo" data-slide="next">
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</a>
			</div>*@
		</div>

		<div class="col-md-2 service-categories">
			<div class="row">
				@foreach (var category in Model)
				{
					<div class="col-md-12 col-sm-6 service-category @category.CssClass">
						<div class="image"></div>
						<hr />
						<h3>@category.Name</h3>
						<div id="pointer">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</div>

						<div class="menu-wrapper">
							<div id="menu" class="container-fluid">
								<div class="row">
									@foreach (var subcategory in category.ServiceSubcategories)
									{
									<div class="col-md-6 subcategory">
										<h2>@subcategory.Name <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
										<ul>
											@foreach (var service in subcategory.Services)
												{
											<li class="col-md-6">
												<a href="#">
													<h3>@service.Title</h3>
													<p>@service.Description</p>
												</a>
											</li>

												}
										</ul>
									</div>
									}
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>
	<div class="row footer">
		<div class="col-md-4 col-sm-4 cta-title">
			<h2>@Translations.MainPegeFormTitle</h2>
		</div>

		@{
			var ajaxOptions = new AjaxOptions
			{
				Url = Url.Action("ContactRequest", "Contact"),
				OnComplete = "OnComplete",
				OnBegin = "OnBegin"
			};
		}
		@using (Ajax.BeginForm(null, null, ajaxOptions, new { autocomplete = "off" }))
		{
			@Html.AntiForgeryToken()
			<input type="hidden" name="Mode" value="Short" />
			<div class="col-md-8 col-sm-8 form-wrapper">
				<div class="fader">
					<i class="fa fa-refresh fa-spin fa-3x fa-fw text-center"></i>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 id="form-header">@Translations.MainPage_ContactRequest_FirstName</h3>
					</div>
				</div>
				<div class="row cta-form">
					<div class="col-md-10 col-sm-10" id="name">
						<input placeholder="@Translations.MainPage_ContactRequest_FirstName_Placeholder" id="FirstName" name="FirstName">
					</div>

					<div class="col-md-10 col-sm-10 hidden" id="email">
						<input placeholder="@Translations.MainPage_ContactRequest_Email_Placeholder" id="EmailInput" name="Email">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
							</div>
						</div>
					</div>

					<div class="col-md-10 col-sm-10 hidden" id="phone">
						<input placeholder="@Translations.MainPage_ContactRequest_Phone_Placeholder" id="PhoneInput" name="Phone">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
							</div>
						</div>
					</div>

					<div class="col-md-10 col-sm-10 hidden" id="message">
						<textarea id="message-field" placeholder="@Translations.MainPage_ContactRequest_Message_Placeholder" name="Message"></textarea>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
							</div>
						</div>
					</div>

					<div class="col-md-2 col-sm-2 button-wrapper">
						<button type="button" id="send-btn" class="next-step"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				function OnBegin() {
					$('.fader').show();
				}

				function OnComplete(data) {
					var redirectToThankYou = data.responseJSON;
					if (redirectToThankYou !== '') window.location = redirectToThankYou;
				}
			</script>
		}
	</div>
</div>

<script>
	function isNullOrWhitespace(input) {
		if (typeof input === 'undefined' || input == null) return true;
		return input.replace(/\s/g, '').length < 1;
	}

    // cta
	$(document).ready(function () {
		$step = 0;

		$("#send-btn").click(function () {
			if ($step == 0) {
				if (isNullOrWhitespace($("#FirstName").val()))
				{
					$("#FirstName").css('border', '1px solid red');
					return;
				}

				$("#name").addClass("hidden");
				$("#email").removeClass("hidden");
				$("#form-header").text("@Translations.MainPage_ContactRequest_Email");
				$step++;
				return;
			}
			if ($step == 1) {
				if (isNullOrWhitespace($("#EmailInput").val())) {
					$("#EmailInput").css('border', '1px solid red');
					return;
				}

				$("#email").addClass("hidden");
				$("#phone").removeClass("hidden");
				$("#form-header").text("@Translations.MainPage_ContactRequest_Phone");
				$step++;
				return;
			}

			if ($step == 2) {
				if (isNullOrWhitespace($("#PhoneInput").val())) {
					$("#PhoneInput").css('border', '1px solid red');
					return;
				}

				$("#phone").addClass("hidden");
				$("#message").removeClass("hidden");
                $("#form-header").text("@Translations.MainPage_ContactRequest_Message");
                $("#message").find("textarea").attr("placeholder", "@Translations.MainPage_ContactRequest_Message_Placeholder");

                $("#message-field").animate({ 'height': '200px' }, { duration: 400, easing: "swing" });
                $(".cta-form").animate({ 'padding-bottom': '30px' }, { duration: 400, easing: "swing" });
                $("#cta-title").animate({ 'height': '200px'}, { duration: 400, easing: "swing" });

                $step++;
                $(this).attr("type", "submit");
                $(this).html('<i class="fa fa-paper-plane" aria-hidden="true"></i>');
				$(this).addClass("final-step");

				return false;
			}
		});
	});

</script>

<script>
	// categories
	$(document).ready(function () {
		$(".subcategory").click(function () {
			if ($(this).find('ul').hasClass('show')) {
				$(this).find('ul').removeClass('show');
				$(this).find('i').removeClass('fa-angle-down');
				$(this).find('i').addClass('fa-angle-right');
			} else {
				$(this).find('ul').addClass('show');
				$(this).find('i').removeClass('fa-angle-right');
				$(this).find('i').addClass('fa-angle-down');

			}
		});
	});

</script>