@model DigitalLeader.ViewModels.ProjectViewModel

@using DigitalLeader.Web.Localization
@{
	ViewBag.Title = Html.Title(Model.Title);
	Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="container-fluid project-page">
	
    @{
        var srcAction = Model.ImageId.HasValue ?
        Url.Action("Show", "File", new { area = "", id = Model.ImageId }) :
        "/Content/image/test/trump.png";
    }
    <div class="row header clearfix" style="background-image: url('@srcAction')">
		<div>
			<h1>@Model.Title</h1>
            <h2>
                @{ 
                    int counter = Model.Services.Count;
                }
                @foreach (var service in Model.Services)
                {
                    @service.Title
                    if (counter > 1)
                    {
                        <span>/</span>
                        counter--;
                    }
                }
            </h2>
		</div>
	</div>
	<div class="container">
		<div class="row general">
			<div class="col-md-9 about-project">
				<div class="row overview">
					<h2>@Translations.Project_Overview</h2>
					<p>@Model.Overview</p>
				</div>
				<div class="row objective">
					<div class="col-md-4 objective-title">
						@Translations.Project_Objective
					</div>
					<div class="col-md-8 objective-body">
						@Model.Objective
					</div>
				</div>
				<div class="row work">
                    <div class="col-md-4 work-title">
                        @Translations.Project_Work
                    </div>
                    <div class="col-md-8 work-body">
						@Model.WorkOverview
					</div>
				</div>
				<div class="row result">
					<div class="col-md-4 result-title">
						@Translations.Project_Result
					</div>
					<div class="col-md-8 result-body">
						@Model.ResultOverview
					</div>
				</div>
			</div>
			<div class="col-md-3 project-aside">
				
				<div class="col-md-12 collaborators clearfix">
					<h2>@Translations.Project_Contributors</h2>
					<div>
						@foreach (var collaborator in Model.Contributors)
						{
							<a href="#">
								<div>
									@{
										var src = collaborator.ImageId.HasValue ?
										Url.Action("Show", "File", new { area = "", id = collaborator.ImageId }) :
										"/Content/img/default-user.png";
									}
									<img src="@src" />
									<p>@collaborator.UserName</p>
								</div>
							</a>
        				}
					</div>
				</div>

                <div class="col-md-12 technologies clearfix">
                    <h2>@Translations.Project_Technologies</h2>
                    <ul>
                        @foreach (var tech in Model.Technologies)
                        {
                            <li>@tech.Name</li>
                        }
                    </ul>
                </div>
			</div>
		</div>
	</div>

</div>
