@model IEnumerable<DigitalLeader.ViewModels.ProjectViewModel>

@{
	ViewBag.Title = "Projects";
	ViewBag.Message = "it's all ours work";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid projects">
	<div class="row header clearfix">
		<div>
			<h1>@ViewBag.Title</h1>
			<h2>@ViewBag.Message</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
            {
                var services = item.Services.Count > 0 ?
                    item.Services.Select(s => s.Title).Aggregate((a, b) => a + ", " + b)
                    : "";

				<div class="col-md-4 project-item-wrapper">
					<a class="project-item" href="@Url.Action("Project", "Portfolio", new { id = item.ID })">
					@{
						var srcAction = item.ImageId.HasValue ?
						Url.Action("Show", "File", new { area = "", id = item.ImageId }) :
						"/Content/img/default-user.png";

						var srcLogoAction = item.LogoId.HasValue ?
						Url.Action("Show", "File", new { area = "", id = item.LogoId }) :
						"/Content/img/default-user.png";
					}
					<img src="@srcAction" class="bg" />
					<img class="logo" src="@srcLogoAction" />
					<h4>@services</h4>
					<h5 title="view this project"><i class="fa fa-eye" aria-hidden="true"></i></h5>
					</a>
				</div>
			}
		</div>
	</div>
</div>

