@model IEnumerable<DigitalLeader.ViewModels.TestimonialViewModel>
@using DigitalLeader.Web.Localization

@{
    ViewBag.Title = Html.Title(Translations.Testimonials_Title_Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/masonry")

<div class="container-fluid testimonials">
    <div class="row header clearfix">
        <div>
            <h1>@Translations.Testimonials_Title_Name</h1>
            <h2>@Translations.Testimonials_Subtitle_Text</h2>
        </div>
    </div>
    <div id="container" class="container">
        @foreach (var item in Model)
        {
            <div class="testimonial-item-sizer"></div>
            <div class="testimonial-item-gutter-sizer"></div>
            <div class="testimonial-item">
                <div class="person-wrapper">
                    <div class="person">
                        @{
                            var srcAction = item.Client.ImageId.HasValue ?
                                                                Url.Action("Show", "File", new { area = "", id = item.Client.ImageId }) :
                                                                "/Content/img/default-user.png";
                        }
                        <img src="@srcAction" class="img-responsive" />
                        <div class="name-and-title">
                            <h4>@item.Client.FirstName @item.Client.LastName</h4>
                            <h5>@item.Client.Title</h5>
                        </div>
                    </div>
                    <p class="text">@item.Text</p>
                    <p class="project-link">
                        <a href="#">@Translations.Testimonials_See_Project</a>
                    </p>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
	$(function () {
		var container = document.querySelector('#container');
		var msnry = new Masonry(container, {
			itemSelector: ".testimonial-item",
			columnWidth: ".testimonial-item-sizer",
			percentPosition: "true",
			gutter: ".testimonial-item-gutter-sizer"
		});
	});
</script>