@model DigitalLeader.ViewModels.ServiceCategoryViewModel
@using DigitalLeader.ViewModels;

@{
	ViewBag.Title = "Edit category";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Edit category</h2>
<p class="text-center">
	@Html.ActionLink("Back to List", "Index")
</p>
<hr />
<div class="col-md-6 col-md-offset-2">
	@using (Html.BeginForm("Edit", "ServiceCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@{
						var srcAction = Model.ImageId.HasValue ?
						Url.Action("Show", "File", new { area = "", id = Model.ImageId }) :
						"/Content/Images/default-user.png";
					}
					<img src="@srcAction" class="img-responsive" />

					@Html.TextBoxFor(model => model.File, new { @type = "file" })
				</div>
			</div>

			@Html.HiddenFor(model => model.ID)
			
			<div class="form-group">
				@Html.LabelFor(model => model.CssClass, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CssClass, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CssClass, "", new { @class = "text-danger" })
				</div>
			</div>
			
			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<ServiceCategoryViewModel, ServiceCategoryViewModel.ServiceCategoryLocalizedModel>
				("category-localized-Name",
				@<div>
					@Html.EditorFor(model => model.Locales[item].Name, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Locales[item].Name, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Locales[item].LanguageId)
				</div>,
					@<div>
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>


			<div class="form-group">
				@Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<ServiceCategoryViewModel, ServiceCategoryViewModel.ServiceCategoryLocalizedModel>
				("category-localized-Content",
				@<div>
					@Html.EditorFor(model => model.Locales[item].Content, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Locales[item].Content, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Locales[item].LanguageId)
				</div>,
					@<div>
						@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
						}
</div>
<div class="col-md-12">
	<p class="text-center">
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>
