@model DigitalLeader.ViewModels.UserViewModel
@using DigitalLeader.ViewModels;
@using DigitalLeader.Web.Extensions;

@{
	ViewBag.Title = "Edit user";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Edit user</h2>
<p class="text-center">
	@Html.ActionLink("Back to List", "Index")
</p>
<hr />
<div class="col-md-6 col-md-offset-3">
	@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">

			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@{
						var srcAction = Model.ImageId.HasValue ?
						Url.Action("Show", "File", new { area = "", id = Model.ImageId }) :
						"/Content/images/default-user.png";
					}
					<img src="@srcAction" class="img-responsive" />

					@Html.TextBoxFor(model => model.File, new { @type = "file" })
				</div>
			</div>

			@Html.HiddenFor(model => model.Id)

			<div class="form-group">
				@Html.LabelFor(model => model.ExperianceYears, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ExperianceYears, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ExperianceYears, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<UserViewModel, UserViewModel.UserLocalizedModel>
				("user-localized-UserName",
				@<div>
					@Html.EditorFor(model => model.Locales[item].UserName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Locales[item].UserName, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Locales[item].LanguageId)
				</div>,
					@<div>
						@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Biography, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<UserViewModel, UserViewModel.UserLocalizedModel>
				("user-localized-Biography",
					@<div>
						@Html.EditorFor(model => model.Locales[item].Biography, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Locales[item].Biography, "", new { @class = "text-danger" })
						@Html.HiddenFor(model => model.Locales[item].LanguageId)
					</div>,
					@<div>
						@Html.EditorFor(model => model.Biography, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<UserViewModel, UserViewModel.UserLocalizedModel>
				("user-localized-Title",
					@<div>
						@Html.EditorFor(model => model.Locales[item].Title, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Locales[item].Title, "", new { @class = "text-danger" })
						@Html.HiddenFor(model => model.Locales[item].LanguageId)
					</div>,
					@<div>
						@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.TechnologiesSelectList, new { @class = "control-label col-md-2" })
				<div class="col-md-6">
					<select id="@Html.IdFor(m => m.TechnologiesIds)"
							name="@Html.NameFor(m => m.TechnologiesIds)"
							class="form-control chosen-select" multiple="multiple" data-placeholder="Choose a technologies...">
						@foreach (var option in Model.TechnologiesSelectList)
						{
							<option value="@option.Value" selected="@option.Selected">@option.Text</option>
						}
					</select>
				</div>

				<div class="col-md-4">
					<a href="@Url.Action("Index", "Technology", new { area = "Admin"})" target="_blank">Edit technologies</a>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
						}

</div>
<div class="col-md-12">
	<p class="text-center">
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>
