@model DigitalLeader.ViewModels.ServiceViewModel
@using DigitalLeader.ViewModels;
@using DigitalLeader.Web.Extensions;
@{
	ViewBag.Title = "Create new service";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Create new service</h2>
<p class="text-center">
	@Html.ActionLink("Back to List", "Index")
</p>
<hr />

<div class="col-md-6 col-md-offset-3">
	@using (Html.BeginForm("Create", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<ServiceViewModel, ServiceViewModel.ServiceLocalizedModel>
				("service-localized-title",
				@<div>
					@Html.EditorFor(model => model.Locales[item].Title, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Locales[item].Title, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Locales[item].LanguageId)
				</div>,
					@<div>
						@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.SubTitle, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<ServiceViewModel, ServiceViewModel.ServiceLocalizedModel>
				("service-localized-SubTitle",
				@<div>
					@Html.EditorFor(model => model.Locales[item].SubTitle, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Locales[item].SubTitle, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Locales[item].LanguageId)
				</div>,
					@<div>
						@Html.EditorFor(model => model.SubTitle, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.SubTitle, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<ServiceViewModel, ServiceViewModel.ServiceLocalizedModel>
				("service-localized-Description",
				@<div>
					@Html.EditorFor(model => model.Locales[item].Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Locales[item].Description, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Locales[item].LanguageId)
				</div>,
					@<div>
						@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.ServiceSubcategoriesSelectList, new { @class = "control-label col-md-2" })
				<div class="col-md-6">
					@Html.DropDownListFor(m => m.ServiceSubcategoryID, Model.ServiceSubcategoriesSelectList,
                    new { @class = "form-control chosen-select", data_placeholder = "Chose a category" })
				</div>

				<div class="col-md-4">
					<a href="@Url.Action("Index", "Category", new { area = "Admin"})" target="_blank">Edit categories</a>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@(Html.LocalizedEditor<ServiceViewModel, ServiceViewModel.ServiceLocalizedModel>
				("service-localized-Content",
				@<div>
					@Html.EditorFor(model => model.Locales[item].Content, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Locales[item].Content, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Locales[item].LanguageId)
				</div>,
					@<div>
						@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
					</div>, true))
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
	}
</div>

<div class="col-md-12">
	<p class="text-center">
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>
