<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="branding-container">
                    @*<div class="logo"></div>*@    
                    <div class="site-name">@Html.ActionLink("Digital Leader", "Index", "Home", new { area = "" }, new { @class = "" })</div>
                    <div class="motto">your best IT services provider</div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-links">
                    <li>@Html.ActionLink("Company", "Company", "Home")</li>
                    <li>@Html.ActionLink("Serives", "Serives", "Home")</li>
                    <li>@Html.ActionLink("Clients", "Clients", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Contact", "Home")</li>
                    <li>@Html.ActionLink("News", "News", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer>
            <ul class="footer-nav">
                <li>@DateTime.Now.Year &copy; Digital Leader Solutions - your best IT serives provider.</li>
                <li>@Html.ActionLink("Privacy", "Company", "Home")</li>
                <li>@Html.ActionLink("Terms of Use", "Serives", "Home")</li>
                <li>@Html.ActionLink("Feedback", "Clients", "Home")</li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
