@using DigitalLeader.Web.Localization

<footer class="container-fluid">
    <div class="container-fluid footer-head">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 brand">
                    <img src="~/Content/images/dl logo v2 white.png" />
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="col-md-12 message">
                        <p>
                            @Translations.FooterText
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container footer-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-8 col-md-offset-2 contacts">
                    <div class="col-md-4 col-sm-4">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
                        <h3>@Translations.FooterAddress</h3>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p><i class="fa fa-phone" aria-hidden="true"></i></p>
                        <h3><a href="tel:+380961212713">+380 (96) 121 27 13</a></h3>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p><i class="fa fa-at" aria-hidden="true"></i></p>
                        <h3><a href="mailto:info@digitalleader.solutions">info@digitalleader.solutions</a></h3>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 col-sm-12">
                <hr>
            </div>
        </div>

        <div class="row menu">
            <div class="col-md-3 col-sm-3">
                @*<h3>@Translations.LinkServices</h3>
                <ul class="menu-list">
                    <li>@Html.ActionLink(Translations.Technology_Category_Name, "Serives", "Home")
					
					</li>
                    <li>@Html.ActionLink(Translations.Marketing_Category_Name, "Serives", "Home")</li>
                </ul>*@
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>@Translations.LinkPortfolio</h3>
                <ul class="menu-list">
                    <li>@Html.ActionLink(Translations.LinkProjects, "Projects", "Portfolio")</li>
                    <li>@Html.ActionLink(Translations.LinkCaseStudies, "CaseStudies", "Portfolio")</li>
                    <li>@Html.ActionLink(Translations.LinkTestimonials, "Testimonials", "Portfolio")</li>
                    <li>@Html.ActionLink(Translations.LinkClients, "Clients", "Portfolio")</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>@Translations.LinkCompany</h3>
                <ul class="menu-list">
                    <li>@Html.ActionLink(Translations.LinkStory, "Story", "Company")</li>
                    <li>@Html.ActionLink(Translations.LinkCreed, "Creed", "Company")</li>
                    <li>@Html.ActionLink(Translations.LinkTeam, "Team", "Company")</li>
                    <li>@Html.ActionLink(Translations.LinkCareers, "Careers", "Company")</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                @*<h3>@Translations.LinkResources</h3>
                <ul class="menu-list">
                    <li>@Html.ActionLink(Translations.LinkBlog, "Company", "Home")</li>
                    <li>@Html.ActionLink(Translations.LinkWhitePapers, "Serives", "Home")</li>
                    <li>@Html.ActionLink(Translations.LinkGuides, "Clients", "Home")</li>
                    <li>@Html.ActionLink(Translations.LinkInfographics, "Clients", "Home")</li>
                    <li>@Html.ActionLink(Translations.LinkVideos, "Clients", "Home")</li>
                </ul>*@
            </div>
        </div>
    </div>

    <div class="container-fluid footer-foot">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 terms">
                    <ul>
                        <li class="language-icon"><i class="fa fa-globe" aria-hidden="true"></i></li>
                        @Html.Partial("_LanguagesPartial")
                        @*<li>@Html.ActionLink(Translations.Link_Privacy, "Privacy", "Home")</li>
                        <li>@Html.ActionLink(Translations.Link_TermsOfUse, "ConditionsOfUse", "Home")</li>
                        <li>@Html.ActionLink(Translations.Link_Feedback, "Index", "Contact")</li>*@
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 top-btn">
                    <p><a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-md-4 col-sm-4 copyright">
                    <p>&copy; @DateTime.Now.Year @Translations.Copyright_Name</p>
                </div>
            </div>
        </div>
    </div>
</footer>

