@using DigitalLeader.Web.Localization

@{
    var routeDictionaryUA = new RouteValueDictionary(ViewContext.RouteData.Values);
    routeDictionaryUA["culture"] = "uk";

    var routeDictionaryEN = new RouteValueDictionary(ViewContext.RouteData.Values);
    routeDictionaryEN["culture"] = "en";

    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;

    string ukStyle = (lang == "uk") ? "color: #0094ff; border-bottom: 1px dashed white" : "color: white; border-bottom: 1px dashed #333333";
    string enStyle = (lang == "en") ? "color: #0094ff; border-bottom: 1px dashed white" : "color: white; border-bottom: 1px dashed #333333";
}
<li><a style="@enStyle" href="@Url.RouteUrl(routeDictionaryEN)">@Translations.Link_Eng</a></li>
<li><a style="@ukStyle" href="@Url.RouteUrl(routeDictionaryUA)">@Translations.Link_Ukr</a></li>
