@model DigitalLeader.ViewModels.PromoFormViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12 ready-to-contact">
            <hr>
            <h3 class="center"><i class="fa fa-envelope-o" aria-hidden="true"></i>Ready to upgrade your business?</h3>
            <p class="text-center">Tell us about your business problem and get FREE costs estimation for a digital solution</p>
            

            @using (Html.BeginForm("Promo", "Home", FormMethod.Post, new { role = "form", @class = "row" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-5 col-md-offset-1">
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                    @Html.TextAreaFor(m => m.Message)
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First name" })

                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last name" })

                    @Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Company, new { @placeholder = "Company" })

                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "my.email@example.com" })

                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "111 2222 33333" })
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <input type="submit" id="send" value="Get estimate now" class="promo-btn" />
                </div>

            }

            
            @*<form class="row" method="post" action="/home/promo">
                <div class="col-md-5 col-md-offset-1">
                    <textarea rows="8" id="comment" name="model.Message">Describe your business problem</textarea>
                </div>
                <div class="col-md-5">
                    <input type="text" id="FirstName" name="model.FirstName" placeholder="First name" />
                    <input type="text" id="LastName" name="model.LastName" placeholder="Last name" />
                    <input type="email" id="Email" name="model.Email" placeholder="my.email@example.com" />
                    <input type="text" id="Company" name="model.Company" placeholder="Company" />
                    <input type="tel" id="Phone" name="model.Phone" placeholder="Phone number" />
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <input type="submit" id="send" value="Get estimate now" class="promo-btn" />
                </div>
            </form>*@
        </div>
    </div>
</div>